@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background: url("../assets/images/fondo.png") no-repeat center center;
  background-size: cover;
}

body.register-page {
  background: none !important;
}




.login-container {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  background: url("../assets/images/fondologin.png") no-repeat center center;
  background-size: cover;

}

.login-form {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border: 3px solid #FFD700;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

.login-title {
  font-size: 2.5rem;
  text-align: center;
  color: #FFD700;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #fff;
}

.input-group input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #FFD700;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background-color: #13244C;
  border: 3px solid #FFD700;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #1F3977;
}


.game-container {
  position: relative;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
}

.info-container {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  font-size: 1.2rem;
}

.current-question span,
.accumulated-prize span {
  color: #FFD700;
  font-weight: bold;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 210px;
}

.logo-container {
  position: absolute;
  top: 0;
  left: 12%;
  transform: translateX(-50%);
  margin: 0;
  padding: 20px;
}

.logo-text {
  font-size: 3rem;
  font-weight: 700;
  color: #FFD700;
  text-align: left;
}

.question-container {
  background-color: #13244C;
  border: 3px solid #FFD700;
  border-radius: 8px;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.4rem;
  margin-bottom: 20px;
  max-width: 500px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 80%;
  max-width: 700px;
}

.answer-btn {
  background-color: #13244C;
  color: #fff;
  border: 3px solid #FFD700;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer-btn:hover {
  background-color: #1F3977;
}

.ranking-style {
  color: #FFD700;
  text-align: center;
  padding: 10px 15px;

}

.ranking-table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
}

.ranking-table th {
  text-align: center;
  color: #FFD700;
  font-size: 3rem;

}

.ranking-table td {
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 20px;
}


.ranking-btn {
  background-color: #13244C;
  color: #fff;
  border: 3px solid #FFD700;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;



}

.ranking-btn:hover {
  background-color: #1F3977;
}

.login-link {
  color: #FFD700;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 20px;
  display: block;
  text-align: center;
}
