RewriteEngine On

# Si el archivo o directorio físico existe, no reescribas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Reescribe todo lo demás a index.php
RewriteRule ^ index.php [QSA,L]

# Acceso a archivos estáticos desde /frontend
RewriteCond %{REQUEST_URI} ^/(index\.html|register\.html|login\.html|ranking\.html|result\.html|frontend/|assets/|scripts/|styles/)
RewriteRule ^ - [L]
